body
{
	margin: 0;
	background: url("../Images/Homepage_BG.png") no-repeat center center fixed;
	background-size: 100%;
}

#div_content
{
	position: relative;
	/*min-width: 1000px;*/
	width: 1400px;
	/*min-height: 600px;*/
	height: 1400px;
	margin: 50px auto;
	overflow: hidden;
}

/*----------------------------------------------*/

.theme_box
{
	position: absolute;
	width: 700px;
	height: 700px;
}

#div_top_left
{
	right: 50%;
}

#div_top_right
{
	left: 50%;
}

#div_bottom_left
{
	right: 50%;
	top: 50%;
}

#div_bottom_right
{
	top: 50%;
	left: 50%;
}

/*----------------------------------------------*/

.theme_box_content
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

#top_left_content
{
	background-color: #ff0000;
}

#top_right_content
{
	background-color: #00ff00;
}

#bottom_left_content
{
	background-color: #0000ff;
}

#bottom_right_content
{
	background-color: #ffff00;
}

/*----------------------------------------------*/

.img_banner
{
	position: absolute;
	left: 0;
	width: 100%;
	height: auto;
}
#top_left_content > .img_banner, #top_right_content > .img_banner
{
	bottom: 0;
}
#bottom_left_content > .img_banner, #bottom_right_content > .img_banner
{
	top: 0;
}

.img_description
{
	position: absolute;
	width: 350px;
	height: 495px;
}

#top_left_content > .img_description
{
	left: 0;
	bottom: 0;
}
#top_right_content > .img_description
{
	right: 0;
	bottom: 0;
}
#bottom_left_content > .img_description
{
	left: 0;
	top: 0;
}
#bottom_right_content > .img_description
{
	right: 0;
	top: 0;
}

/*----------------------------------------------*/

#div_overlay
{
	position: absolute;
	width: 700px;
	height: 990px; /* ~ A4 paper ratio */
	top: 205px;
	left: 350px;
	/*text-align: center;*/
	/*overflow: -moz-scrollbars-vertical;*/
	/*overflow-y: scroll;*/
}

#overlay_content
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #ff00ff;
}

#overlay_content > .img_banner, #overlay_content > .img_description
{
	display: none;
}